@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');


body{
    font-family: 'Oswald', sans-serif;
}


.navbar-brand{
    font-size: 30px;
    font-weight: 500;
     transition: background-color 0.3s, color 0.3s;
}
.nav-link{
    font-size: 22px;
     transition: background-color 0.3s, color 0.3s;
    
}
.nav-link:hover, .navbar-brand:hover{
    background: linear-gradient(80deg,#8ba5fe, #3f27c6); /* Ganti dengan warna gradasi yang diinginkan */
    -webkit-background-clip: text; /* Untuk mendukung Safari */
    -webkit-text-fill-color: transparent; 
}

.content {
        min-height: 100vh;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 100px;
    }

    /* Background hitam untuk elemen ganjil */
    .content:nth-child(odd) {
        background-color: #212529;
        color: black;
     
    }

    /* Background putih untuk elemen genap */
    .content:nth-child(even) {
        background-color: #272a35;
        color: white;
    }

    .icon-link {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white; /* Ganti dengan warna yang diinginkan */
    color: #333; /* Warna ikon */
    border-radius: 50%; /* Membuat border lingkaran */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc; /* Border lingkaran */
    font-size: 24px; /* Ukuran ikon */
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}
.cv-link{
    padding: 5px 20px;
     border: 1px solid #ccc;
    background-color: white; /* Ganti dengan warna yang diinginkan */
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.icon-link:hover,.cv-link:hover {
    background: linear-gradient(80deg,#8ba5fe, #3f27c6); /* Ganti dengan warna hover yang diinginkan */
    color: white; /* Warna ikon saat hover */
}

.gradient-text {
    background: linear-gradient(80deg,#8ba5fe, #3f27c6); /* Ganti dengan warna gradasi yang diinginkan */
    -webkit-background-clip: text; /* Untuk mendukung Safari */
    -webkit-text-fill-color: transparent; /* Menghilangkan warna isi teks untuk efek gradasi */
    font-size: 3.5rem; /* Sesuaikan ukuran teks sesuai kebutuhan */
}

.name-text {
    background: linear-gradient(80deg,#8ba5fe, #3f27c6); /* Ganti dengan warna gradasi yang diinginkan */
    -webkit-background-clip: text; /* Untuk mendukung Safari */
    -webkit-text-fill-color: transparent; /* Menghilangkan warna isi teks untuk efek gradasi */
}

.navbar {
    padding-left: 100px;
    padding-right: 100px;
    border-bottom: 2px solid #ccc;
     background-color: #2d3245;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 1000;
}

.navbar-dark .navbar-nav .nav-link.active {
    font-weight: bold; /* Tambahkan efek tebal untuk link aktif */
    background: linear-gradient(90deg, #8ba5fe, #3f27c6); /* Warna gradasi dari kiri ke kanan */
    -webkit-background-clip: text; /* Mendukung Safari dan Chrome */
    -webkit-text-fill-color: transparent; /* Membuat warna teks menjadi transparan untuk menampilkan gradasi */
    background-clip: text;
}


.card {
    min-height: 300px; /* Tinggi minimum card */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(135deg, #202536, #2b6f97); /* Warna gradiasi */
    color: white;
    gap: 10px;
    border: 2px solid transparent; /* Agar border tidak mengganggu gradiasi */
    border-radius: 15px; /* Menambahkan radius pada sudut card */
    padding: 20px; /* Memberikan ruang di dalam card */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan pada card */
}
.img-skill{
    height: 250px;
    width: 250px;
   align-self: center;
   object-fit: cover;
}
    .card-img-top {
        padding: 20px;
         display: flex;
    justify-content: center;
    align-items: center;
    }

    .card-body {
        display: flex;
        flex-direction: column;
      justify-content: center ;
      align-items: center;
    }


